.register-box {
    // top: 10%;
    // left: 15%;
    // transform: translate(0, -50%);
    width: 130vh;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    flex-direction: row;
    // box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    // box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;;
    padding: 5%;
}

.el-form-item__label {
    @include vw-convert-desktop(font-size, 13px);
    @include vw-convert-desktop(line-height, 20px);
    font-weight: 600;
    // font-family: 'Montserrat', sans-serif;
}

.el-form-item__content {
    @include vw-convert-desktop(font-size, 14px);
    @include vw-convert-desktop(line-height, 40px);
}

.el-col-12 {
    @include vw-convert-desktop(padding, 0 10px); 
    // @include vw-convert-desktop(padding-right, 10px);
}

.el-select {
    // @include vw-convert-desktop(width, 100%);
    width: 100%;
}

.el-select-dropdown__item {
    @include vw-convert-desktop(font-size, 13px);
    @include vw-convert-desktop(height, 45px);
    @include vw-convert-desktop(line-height, 34px);
    // @include vw-convert-desktop(padding, 20px);
    text-align: center;
}

.el-input__suffix  {
    @include vw-convert-desktop(right, 5px);
}

.el-select .el-input .el-select__caret {
    @include vw-convert-desktop(font-size, 14px);
}
.el-input .el-input__clear {
    @include vw-convert-desktop(font-size, 14px);
}

.el-input__icon {
    @include vw-convert-desktop(height, 40px);
    @include vw-convert-desktop(width, 25px);
    @include vw-convert-desktop(line-height, 40px);
}

.el-input {
    @include vw-convert-desktop(font-size, 14px);
} 

.el-input__inner {
    border: solid #DCDFE6;
    @include vw-convert-desktop(border-width, 1px); 
    @include vw-convert-desktop(border-radius, 10px);
    @include vw-convert-desktop(font-size, 13px);
    @include vw-convert-desktop(height, 40px);
    @include vw-convert-desktop(line-height, 40px);
    @include vw-convert-desktop(padding, 0 20px);
    // font-size: 12px;
    color: black;
}

.el-form-item__error {
    top: 88%;
    left: 9%;
    background: #fff;
    border-radius: 20%;
    padding-top: 0px;
    @include vw-convert-desktop(font-size, 11.5px);
}

.regist-img-box {
    @include vw-convert-desktop(width, 700vh);
    // width: 60%;
    img {
      border: solid black;
      @include vw-convert-desktop(border-width, 4.5px);
      @include vw-convert-desktop(border-radius, 25px);
      width: 40%;
      height: auto;
      &:nth-child(1) {
        width: 38%;
        transform: translateX(20%);
      }
    }
}

.el-form-item {
    @include vw-convert-desktop(margin-bottom, 20px);
    // margin-bottom: 15px;
}

.pass-text {
    @include vw-convert-desktop(font-size, 11.5px);
    @include vw-convert-desktop(padding, 0 10px); 
    @include vw-convert-desktop(margin, -10px 0 25px 0);
    margin: 0;
}

.create-btn-container {
    @include vw-convert-desktop(padding, 0 10px); 
}

.el-button {
    @include vw-convert-desktop(font-size, 14px);
    @include vw-convert-desktop(padding, 12px 20px);
    transition: 0;
}

.create-btn {
    @include vw-convert-desktop(border-radius, 10px);
    border: 0;
    width: 100%;
    background: #3B4381;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.15) 3px 3px 2.6px;
    color: #ffff;
    font-weight: 600;
    &:hover {
        color: #ffff;
        background: #3B4381;
    }
}