@import "./fonts.scss";
@import './utils.scss';
@import "./pages/home";
@import "./pages/header";
@import "./pages/register";
// Pages



body {
  background-color: #F7F7F7;
}

.scroll-block {
  overflow: hidden;
  width: 100%;
  height: 100vh;
}